<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="cord-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <div class="mt-5">
      <% if current_user == @user %>
        <%= link_to '投稿する', new_post_path, class: 'btn btn-secondary btn-block' %>
      <% end %>
    </div>
  </aside>
  <div class="col-sm-8 col align-self-center">
      <h2>プロフィール</h2>
      <% if current_user == @user %>
        <%= link_to edit_user_path do %>
          <i class="fas fa-cog"></i>
        <% end %>
      <% end %>
      <p><%= @user.introduce %></p>
    </div>
  </div>
  <div class="mt-5">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧 <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
          <li class="nav-item"><a href="<%= likes_posts_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_posts_user_path(@user)) %>">いいね一覧 <span class="badge badge-secondary"><%= @count_likes_posts %></span></a></li>
        </ul>
        <%= render 'posts/posts', posts: @posts %>
    </div>
</div>