<div class="list-styled">
   <div class="media">
     <img src="<%= gravatar_url(@post.user, { size: 50 }) %>" class="mr-3" alt="...">
     <div class="media-body">
       <div>
          <%= link_to @post.user.name, user_path(@post.user) %><span class="text-muted">posted at <%= @post.created_at %></span>
       </div>
       <div>
          <p>
              <strong>Image:</strong>
              <%= image_tag @post.image.url, :size =>'410x300' if @post.image? %>
          </p>
       </div>
       <div>
           <p><%= @post.content %></p>
       </div>
       <div>
          <% if current_user == @post.user %>
            <%= link_to '削除', @post, method: :delete, data: { confirm: "本当によろしいですか？" }, class: 'btn btn-danger btn-md' %>
          <% end %>
       </div>
       <%= render 'likes/good_button' %>
     </div>
   </div>
</div>