<div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <div class="field">
          <%= f.label :image, '画像選択' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control' %>
      </div>
        <%= f.submit '投稿',class: 'btn btn-primary btn-block' %>
     <% end %>
    </div>
</div>